ol h3{
    padding: 2%;
    color: #666;
    text-align: start;
    padding: 20px;
}
ol li{
   list-style: none;
    color: #090909;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 0.7em 1.7em;
    font-size: 18px;
    width:20%;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
    ol li:hover {
    border: 1px solid white;
   }
   
   ol li:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }
ol a{
    text-decoration: none;
}
ol span{
    font-size: medium;
    color: #555;
    font-weight: 200;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*================popup========*/
.popup{
    font-family:'Times New Roman', Times, serif; 
    
}

.modalcontainer{
    position: fixed;
    z-index: 999999999;
    width: 50%;
    height: 100%;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    
}
.popup a{
    width:53px ;
    border: 0;
    padding: 12px 10px;
    outline: none;
    background: linear-gradient( to right,#fb5283,#ff3527 );
    border-radius: 9px;
    cursor: pointer;
   
   text-decoration: none;
    color: #fff;
} 
.modalcontainer.show{
    pointer-events: auto;
    opacity: 1;
}
.modal{
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius:20px ;
    border: 1px solid #ff3527 ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 330px;
    padding: 30px 50px;
    max-width: 100%;
    text-align: center;  
    backdrop-filter: blur(4px); 
}
.modal h1{
    margin: 0;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.modal p{
    opacity: 0.7;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.popup ion-icon{
    font-size: 26px;
    color: #666;
}

/*================page========*/
.pagination{
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
    
}
.pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1  1 / 10%);
}
.pagination li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}
.pi-pre-page, .pi-next-page{
    background: #0ab1ce;
    width: 80px;
    border-radius:45px ;
    cursor: pointer;
    transition: 0.3s ease;
}
.pi-pre-page:hover{
    transform: translateX(-5px);
}
.pi-next-page:hover{
    transform: translateX(5px);
}
.pi-current-page-active{
    background: #0ab1ce;
    width: 45px;
    border-radius:45px ;
    cursor: pointer;
  
}
.pi-current-page:hover{
    background: #0ab1ce;
    width: 45px;
    border-radius:45px ;
    cursor: pointer;
  
}


.disable{
 background: #ccc;
}

.pi-current-page{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}


@media only screen and (max-width:700px){
    ol li{
        width: auto;
}
.pagination li{
    margin: -3px;
}
.pi-current-page a,.pi-current-page-active a{
    display: none;
}


.modal{
    width: 165px;
    backdrop-filter: blur(3px); 

}

}