@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:ital,wght@0,100;1,200&family=Smooch&display=swap');

/*====================================Header========================*/


.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    }
    .logo{
        width: 100px;
        cursor: pointer;
        margin: 30px 0;
    }
    nav{
        flex: 1;
        text-align: right;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;
    }
    nav ul li a{
        text-decoration: none;
        color:#000;
        font-size: 14px;
    }
    
    nav ul li a:hover{
        color: #ff3527;
    }
/*====================================windows========================*/



.btn{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.btn .play{
    position: relative;
    width: 65px;
    height: 65px;
    background: #f42e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #f42e7966;
    transition: 0.5s;
}
.btn.active .play{
    box-shadow: 0 0 0 150vh #f42e79;
}
.btn .play::before{
    content: '';
    position: absolute;
    border: 25px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0px solid transparent;
    transform: translateX(5px);

}
.btn p{
    font-weight: 500;
    font-size: 1em;
    color: #888;
    letter-spacing: 4px;
    font-family:sans-serif ;
    text-transform: uppercase;

}
.clip{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50% ) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: 0.5s;

}
.clip.active{
    transition-delay: 0.5s;
    transform: translate(-50%, -50% ) scale(1);
}
.clip iframe{
    max-width: 900px;
    outline: none;
    border: 10px solid #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.clip .close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

/*====================================Footer section========================*/
/*footer section*/
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    padding: 40px 0;
    background-color: #fff;
    
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
    user-select: none;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin:  0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height:1.6 ;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
    
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
.footer .span{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}
.footer  span{
    text-align: center;
    font-family: cursive;
    font-weight: 200;
}
.footer .copyright a{
    text-decoration: none;
    color:#aaa ;
}

/*====================================ISO========================*/
.download{
    padding: 2% 13%;
}

.download a {

	display:inline-block;
	background: #00A9D4;
	color: #fff;
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
	width: 250px;
	text-align: center;
	border-radius: 45px;
	font-size: 20px;
	
}
.download img{
	position: relative;
	width: 251px;
	height: 135px;
	display:inline-block;
	padding: 15px;
}
.download a:hover {
	background: #00729D;
}
.download .btn-2 {
	background: #F98909;
}

.download .btn-2:hover {
	background: #DC6C11;
}
.download p,h3 {
	color: #ccc;
	padding: 10px;
    font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}
.download li{
	color: #666;
    font-weight: 300;
	padding: 5px 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col1,.col2{
 display: inline-block; 
 padding: 20px auto;
 user-select: none;
}


/*====================================Responsive========================*/
@media(max-width:991px){
    .clip video{
        max-width: 90%;
    }
    .download a {
		width: 120px;
		
	}
    .download{
        padding: 1% 7%;
    }
}