ol h3{
    padding: 2%;
    color: #666;
    text-align: start;
    padding: 20px;
}
ol li{
    text-decoration: none;
     padding: 15px 40px;
    color: #fff;
    background: rgba(255, 122, 0 );
    width:20%;
    border-radius: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    box-shadow: 0 10px 40px rgba(255, 122, 0, 0.4);
}
ol a{
    text-decoration: none;
}
@media only screen and (max-width:700px){
    ol li{
        width: auto;
}
}