
/*software*/

 
.p-container{
    position: relative;
   
    width: 298px;
    padding: 0px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.p-container .p-card{
    position: relative;
    width:  255px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;

}
.p-container:hover .p-card{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;

}
.p-container .p-card:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
.p-container .p-card .p-circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
.p-container .p-card .p-circle h2{
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}
.p-container .p-card .p-content{
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;

}
.p-container .p-card .p-content p{
    color: #666;
    font-size: 15px;}

.p-container .p-card .p-content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}


.p-container .p-card:nth-child(1) .p-circle,
.p-container .p-card:nth-child(1) .p-content a
{
    background: linear-gradient( #ff468f, #ff6062 ) ;
}