
/*software*/

 
.p-container{
    position: relative;
   
    width: 298px;
    padding: 0px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.p-container .p-card{
    position: relative;
    width:  255px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;

}
.p-container:hover .p-card{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;

}
.p-container .p-card:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
.p-container .p-card .p-circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
.p-container .p-card .p-circle h2{
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}
.p-container .p-card .p-content{
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;

}
.p-container .p-card .p-content p{
    color: #666;
    font-size: 15px;}

.p-container .p-card .p-content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}


.p-container .p-card:nth-child(1) .p-circle,
.p-container .p-card:nth-child(1) .p-content a
{
    background: linear-gradient( #ff468f, #ff6062 ) ;
}

.app{
    width: 29%;
    height: 50%;
    text-align: center;
    border-radius: 40px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
}

.app .app-img img{
    width: 50%;
 
}
.app .app-title{
    padding: 5px;
   
}
.app-title h1{
    font-family:cursive;
    font-size: 26px;
}
.app-des p{
    font-size: medium;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
   
}

.app .app-des{
    padding: 4px;

}
.app .app-btn{
   
    width:53px ;
    border: 0;
    padding: 12px 10px;
    outline: none;
    background: linear-gradient( to right,#fb5283,#ff3527 );
    border-radius: 30px;
    cursor: pointer;
   margin-left: 37%;
   margin-top: 5%;

}

.app .app-btn a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.app .app-btn a:hover{
font-weight: bold;
}
.app-head h1{
    padding: 2%;
    
    color: #666;
    text-align: start;
}
hr {
    margin-top: 5%;
}